
      
      html,
      body {
        margin: 0;
        padding: 0;
      }
      * {
        box-sizing: border-box;
      }
      body {
        color: #44464a;
        background-color: #e8e8e8;
      }
      
      h1,
      h2,
      h3,
      h4 {
        margin-top: 0;
        font-weight: normal;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      
      .wrapperreview {
        display: grid;
        grid-template-colomns: 1fr 1fr 1fr 1fr;
      }
      .sheep {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      header {
        width: 100%;
        background-color: rgb(78, 155, 199);
        display: grid;
        grid-template-columns: 75px 1fr auto;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .logo {
        width: 50px;
        padding-left: 10px;
        margin: 5px;
      }
      h1 {
        margin-bottom: 0;
        margin-left: 0;
        font-family: 'Mrs Eaves', serif;
        color: #ffffff;
      }
      
      header ul {
        width: auto;
        margin: 0;
      }
      
      li {
      
        padding: 15px 30px;
        color: azure;
      }
      
      a {
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        font-family: 'activ grotesk', san-serif;
        font-size: 1.2vw;
      }
      a:hover {
        color: #f0c330;
        transition: 0.5s;
        text-decoration: underline;
      }

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
    
    input[type=submit] {
      background-color: #206797;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #169eec;
    }

    .address{
      padding: 10px;
      margin: 20px;
      border: 5px solid navy;
      margin-right: 450px;
      text-align: center;
  }
  
  
  
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-flow: dense;
        gap: 0.5rem;
        max-width: 1200px;
        margin: auto;
      }
      .grid::before {
        content: '';
        grid-column: 1;
        grid-row: 1;
        padding-bottom: 100%;
      }
      .grid div:first-child {
        grid-column: 1;
        grid-row: 1;
      }
      .grid div {
        display: grid;
        place-items: center;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 8px silver;
      }
      .grid img {
        display: block;
        object-fit: cover;
        object-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      /*.grid div::after{
          content: counter(item);
          counter-increment: item;
          font: 3rem/1.5 sans-serif;
          color: dimgrey;
      }*/
      .grid .one {
        background-color: lightblue;
      }
      .grid .two {
        background-color: lightsalmon;
      }
      .grid .three {
        background-color: khaki;
      }
      .grid .four {
        background-color: silver;
      }

        .grid {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        .grid .span-h {
          grid-column: span 2;
        }
        .grid .span-v {
          grid-row: span 2;
        }
      }

      

      .testimonial-quote {
        font-size: 16px;

        
    }

    .testimonial-quote blockquote {
        /* Negate theme styles */
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    text-shadow: 0 1px white;
    z-index: 600;
    }

    .testimonial-quote img {
        border: 3px solid #9CC1D3;
        border-radius: 50%;
        width: 300px;
        height: auto;    
    }

    .testimonial-quote cite {
        color: gray;
        display: block;
        font-size: .8em; 
    }
    .testimonial-quote cite span {
        color: #5e5e5e;
        font-size: 1em;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 1px white; 
    }
  
    
    .testimonial-quote .quote-container {
        padding-left: 160px; 
    }
      
    .testimonial-quote.right .quote-container {
        padding-left: 0;
        padding-right: 160px; 
    }
    
    .testimonial-quote.right cite {
        text-align: right; 
    }
   

    img {
        max-width: 100%;
        height: auto;
    }

    
.farmview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.WelcomeIndex {
  text-align: center;
}

main {
  padding-left: 10px;
  margin-left: 5px;
}

.man {
  margin-top: 30px;
}

.intro {
  grid-column-start: 3;
}

.indexwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.whatwedo {
  text-align: center;
}
.gradient-btn{
	display: inline-block;
  	padding: 1em 2em;
  	border-radius: 0;
	color: #7393B3;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.678rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	background: linear-gradient(to right, rgba(#7393B3, 0) 25%, rgba(#7393B3, .8) 75%);
	background-position: 1% 50%;
	background-size: 400% 300%;
	border: 1px solid #7393B3;
	@include transition;
}
	.gradient-btn:hover{
		color: white;
    	color: #fff;
    	background-position: 99% 50%;
	} 
  .indexintro1{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
  }
  .indexintro2{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
  }
  h4{
    text-align: center;
    font-style: oblique;
  }

  .gradient-btn2{
    display: inline-block;
      padding: 1em 2em;
      border-radius: 0;
    color: #7393B3;
      margin-top:2rem;
      font-weight: bold;
      font-size: 0.678rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
    background: linear-gradient(to right, rgba(#7393B3, 0) 25%, rgba(#7393B3, .8) 75%);
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 1px solid #7393B3;
    @include transition;
  }
    .gradient-btn2:hover{
      color: white;
        color: #fff;
        background-position: 99% 50%;
    } 
  
    

.card-container {
	align-items: start;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
}

.card {
	background-color: #6F8FAF;
	border-radius: 5px;
	color: white;
	padding: 25px;
	text-align: center;
	text-shadow: 1px 1px 0 #555;
  margin: 15px;
}

.fas {
	font-size: 50px;
}

.card ul{
  text-align: left;
}

.pricing-feature-list1 {
  padding-bottom: 50px;
}
.wrappercabin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.cabinintro {
  grid-column-start: 2;
  grid-column-end: 3;
}



@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}

@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

  @media (min-device-width:600px) {
    img[data-src-600px] {
      content: attr(data-src-600px, url);
    }
  }
  
  @media (min-device-width:800px) {
    img[data-src-800px] {
      content: attr(data-src-800px, url);
    }
  }

  .toggle-button {
    position: absolute;
    top: .75rem;
    right: .1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 780px) {
.toggle-button {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%
}

.navbar {
  flex-direction: column;
  align-items: flex-start;

}

.navbar-links ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links li {
  text-align: center;
}

.navbar-links li a {
  padding: .5rem 1rem;
}

.navbar-links active {
  display: flex;
}}

.navbarlinks {
  display: none;
}
@media (min-width: 750px) {
  .nav-trigger {
    display: none;
  }
  header li {
    display: inline-block;
  }
  .navbarlinks {
    display: block;
  }
}
